@using BankingApp.Core.Application.ViewModels.Loan
@model LoanPageViewModel

<div class="container-fluid py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold text-primary">
            <i class="bi bi-cash-coin me-2"></i> Gestión de Préstamos
        </h2>

        <a asp-action="Asign" class="btn btn-primary rounded-pill px-3">
            <i class="bi bi-plus-circle me-1"></i> Nuevo préstamo
        </a>
    </div>

    <form id="filterForm" asp-action="Index" method="get" class="card p-3 mb-4 shadow-sm border-0">
        <div class="row g-3">

            <!-- FILTRO COMPLETED -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Estado del préstamo</label>

                <select name="Completed"
                        class="form-select form-select-sm"
                        asp-items="ViewBag.Filters"
                        onchange="document.getElementById('filterForm').submit()">
                    <option value="">Todos</option>
                </select>
            </div>

            <!-- FILTRO DOCUMENTO -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Cédula</label>

                <input name="documentId"
                       value="@Model.FilterDocumentId"
                       class="form-control form-control-sm"
                       placeholder="Ej: 00123456789"
                       oninput="delayFilter()" />
            </div>

            <input type="hidden" name="page" value="1" />
        </div>
    </form>



    <div class="card shadow-sm border-0">
        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Monto Capital</th>
                        <th>Total Cuotas</th>
                        <th>Cuotas pagadas</th>
                        <th>Saldo pendiente</th>
                        <th>Tasa (%)</th>
                        <th>Plazo</th>
                        <th>Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.Loans)
                    {
                        <tr>
                            <td class="fw-semibold">@item.PublicId</td>
                            <td>@item.ClientName</td>
                            <td>@item.Amount.ToString("C")</td>
                            <td>@item.LoanTermInMonths</td>
                            <td>@item.PaidInstallmentsCount</td>
                            <td>@item.OutstandingBalance.ToString("C")</td>
                            <td>@item.InterestRate</td>
                            <td>@item.LoanTermInMonths</td>
                            <td>
                                <span class="badge @(item.Status == LoanStatus.DELIQUENT ? "bg-danger" : "bg-success")">
                                    @(item.Status == LoanStatus.DELIQUENT ? "En mora" : "Al día")
                                </span>
                            </td>
                            <td class="text-center">
                                <a asp-action="Details" asp-route-publicId="@item.PublicId" class="btn btn-outline-primary btn-sm me-1">
                                    <i class="bi bi-eye">Ver detalles</i>
                                </a>
                                <a asp-action="Edit" asp-route-publicId="@item.PublicId" class="btn btn-outline-secondary btn-sm">
                                    <i class="bi bi-pencil-square">Editar</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer bg-white border-top">
            <nav>
                <ul class="pagination justify-content-center mt-2 mb-0">

                    <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a class="page-link" asp-action="Index"
                           asp-route-page="@(Model.CurrentPage - 1)"
                           asp-route-Completed="@Model.FilterCompleted"
                           asp-route-documentId="@Model.FilterDocumentId">
                            <i class="bi bi-chevron-left"></i>
                        </a>
                    </li>

                    @for (int i = 1; i <= Model.MaxPages; i++)
                    {
                        <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                            <a class="page-link" asp-action="Index"
                               asp-route-page="@i"
                               asp-route-Completed="@Model.FilterCompleted"
                               asp-route-documentId="@Model.FilterDocumentId">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.CurrentPage == Model.MaxPages ? "disabled" : "")">
                        <a class="page-link" asp-action="Index"
                           asp-route-page="@(Model.CurrentPage + 1)"
                           asp-route-Completed="@Model.FilterCompleted"
                           asp-route-documentId="@Model.FilterDocumentId">
                            <i class="bi bi-chevron-right"></i>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    let delayTimer;
    function delayFilter() {
        clearTimeout(delayTimer);
        delayTimer = setTimeout(() => {
            document.getElementById('filterForm').submit();
        }, 500);
    }
</script>
